<!-- <p>novo-produto works!</p> -->

<form [formGroup]="formProduto" (ngSubmit)="enviarProduto()">
    <label>Novo produto:</label><br>
    <label>Código:</label>
        <input type="text" formControlName="cod" placeholder="Digite o código">
    <label>Descrição:</label>
        <input type="text" formControlName="desc" placeholder="Digite a descrição">
    <label>Registro da Anvisa:</label>
        <input type="text" formControlName="regAnvisa" placeholder="Digite o registro da Anvisa">  
    <label>Controlado</label>
        <input type="checkbox" formControlName="controlado">
    <label>Código de grupo:</label>
        <input type="text" formControlName="codGrupo" placeholder="Digite o código do grupo">
    <button>Cadastrar</button>
</form>